

body{
  font-family: Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  overflow-x: hidden;
}

.dropdown-title{
  text-decoration: underline;
  text-decoration-color: blue;
  text-decoration-thickness: 2px;
}

.dropdown-title:hover{
  cursor: pointer;
  color: #233f5c;
}
.main-home-heading{
  font-size: 4.9rem !important;
  font-family: Quarto Light,source-han-serif-sc,serif !important;
}

.card-body{
  background-color: #202226 !important;
}
.hair-girl-img{
  position: relative;
  bottom: 50px;
}

.boy-img{
  position: relative;
  bottom: 100px;
}

.breakline{
  position: relative;
}
.breakline::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: 50px; /* Adjust the distance of the underline from the div */
  width: 100%;
  height: 2px;
  background-color: black;
}


.getintouchbtn {
  position: relative;
  overflow: hidden;
  display: inline-block;
  padding: 10px 20px;
  background-color: blue;
  transition: background-color 0.3s;
  color:white
}

.getintouchbtn::before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: "Get in Touch";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: white;
  /* transition: left 0.3s; */
  transition: ease-in 1s;
  color: black !important;
  font-weight:bold !important;
}

.getintouchbtn:hover {
  background-color: transparent;
  font-weight: bold;
  color: black !important;
}

.getintouchbtn:hover::before {
  left: 0;
  color:black !important;
}










/* Media queries */
@media (max-width: 757px) {
  /* CSS styles here */

  .main-home-heading{
    font-size: 2.5rem !important;
    font-family: Quarto Light,source-han-serif-sc,serif !important;
  }
  .main-bottom-heading{
    font-size: 16px!important;
  }

  .align-design-refine{
    font-size: 440% !important;
  }
  
  .media-heading{
    font-size: 200% !important;
  }


}

@media (min-width: 768px) {
  /* CSS styles here */

}
